<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schreinerei Meier, Dingenskirchen</title>
  </head>
  
<body>
<h1>Ich bin eine sehr schöne Überschrift!</h1>
<h2>Wünsche für die Zukunft</h2>
<p>Wenn ich groß bin, möchte ich eine SAP Installation werden!</p>
<p>Dazu kenne ich schon folgende Parameter:</p>
<ul>
	<li>SAP Release: {{ SAPrelease }}</li>
	<li>SAP SID: {{ SAPsid }}</li>
	<li>SAP HA: {{ SAPha }}</li>
	<li>DB HA: {{ SAPha }}</li>
	<li>Passwort: (geheim)</li>
</ul>
</body>
</html>
