<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schreinerei Meier, Dingenskirchen</title>
  </head>
  
<body>
    <h1>Alles neu, macht der Oktober</h1>
<p>Zukunftsmusik</p>
<p>Wenn ich groß bin, möchte ich eine SAP Installation werden!</p>
<h2>Dazu kenne ich schon folgende Parameter:</h2>
<ul>
	<li>SAP Release: J2SAP_RELEASE</li>
	<li>SAP SID: J2SAP_SID</li>
	<li>SAP HA: J2SAP_HA</li>
	<li>DB HA: J2DB_HA</li>
	<li>Passwort:</li>
</ul>
</body>
</html>
